* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
}

h1 {
    font-size: 25rem;
}

h2 {
    font-size: 7.2rem;
}

h3 {
    font-size: 3.6rem;
    margin-bottom: 10rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 1.6rem;
    font-weight: 500;
}

p {
    margin: 1rem 0;
}
